.navbar {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.navbar-categories {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-categories li a {
  color: white;
  text-decoration: none;
}

.navbar-categories li a:hover {
  color: yellow;
}

.cart-widget {
  position: relative;;
  right: 10px;
  background-color: #e9af0e;
  color: black;
  padding: 8px 12px;
  border-radius: 20px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  font-weight: bold; 
  transition: transform 0.3s; 
}

.cart-widget:hover {
  transform: scale(1.05); 
}

.item-list-container {
  padding: 10px;
  text-align: center;
}
