.columna {
    margin: 20px; 
  }
  
  .card {
    max-height: 450px; 
    overflow: hidden; 
  }

  .card-img-top {
    height: 150px; 
    object-fit: cover; 
  }
  
  .card-body {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
  }
  
  .card-title,
  .card-text {
    text-align: center; 
    font-size: 1.25rem; 
    margin-bottom: 1rem;
  }
  .card-price {
    color: white; 
  }
  
  .card-buttons .btn {
    background-color: #e9af0e; 
    color: black; 
    border: none; 
  }
  
  .card-buttons .btn:hover {
    background-color: #d8a70d; 
  }
  